body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
}

body > * {
	margin: calc(0.005*100vh);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: min(25em, 100vw);
}
body > :first-child {
	margin-top: 0;
}
body > :last-child {
	margin-bottom: 0;
}

#stratagemName {
	color: black;
	background-color: yellow;
	font-size: 1.3em;
}

#sequence {
	gap: 0.2em;
	font-size: min(calc(100vw/10), 2.5em);
}

#keys {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.6cm;
	gap: 0.1em;
}

#keys * {
	display: flex;
	flex-direction: row;
	gap: 0.2em;
}

#keys .myButtom:active {
	transform: translateY(4px);
}

.matched {
	color: yellow;
}
.wrong {
	color: red;
}